/Users/emirhangokce/Library/Mobile\ Documents/com\~apple\~CloudDocs/Desktop/MobilUygulama/IOS/KeychainManager/Package.swift .DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
